<div class="-mt-20">
    <nav class="bg-[#F26A2E] text-white px-6 py-4 h-17 flex items-center justify-between">
      <a href="/" class="flex items-center">
        <img
          src="https://i.bleacherreport.net/images/team_logos/328x328/florida_gators_football.png?canvas=492,328"
          alt="UF Logo"
          class="h-12 mr-3"
        />
        <span class="text-xl font-bold">UFCourtLink</span>
      </a>
      <div class="text-xl font-bold text-[#005B8D]">ADMIN</div>
    </nav>
</div>
<div class="min-h-screen bg-[#fffaf0] flex flex-col items-center justify-center px-4">
    <div class="max-w-md w-full bg-white p-8 rounded-lg shadow-lg border-[6px] border-[#005B8D]">
      <h2 class="text-3xl font-bold text-[#005B8D] text-center mb-6">Admin Login</h2>
  
      <mat-form-field appearance="outline" class="w-full mb-4">
        <input matInput placeholder="Username" [(ngModel)]="username" />
      </mat-form-field>
  
      <mat-form-field appearance="outline" class="w-full mb-4">
        <input matInput placeholder="Password" type="password" [(ngModel)]="password" />
      </mat-form-field>
  
      <button
        mat-raised-button
        (click)="login()"
        class="!bg-[#F26A2E] hover:!bg-orange-600 !text-white w-full font-bold py-2 rounded-full shadow-md"
      >
        Log In
      </button>
  
      <div *ngIf="errorMessage" class="text-red-600 mt-4 text-center font-medium">
        {{ errorMessage }}
      </div>
    </div>
</div>